<%- include('./includes/header') %>
    </head>

    <style>
        body {
            background-image: url(/images/4041.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        div {
            height: 10vh;
            color: aquamarine;
            margin: 0 auto;

        }
    </style>

    <body>
        <div class="container fluid">
            <div class="col-6">
                <div class="alert alert-secondary text-center opacity-75" role="alert">
                    <%= pageTitle %>
                </div>
            </div>
        </div>

    </body>

    </html>